<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flatmate.flatmate">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AppLoadingActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Flatmate"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:label="Add new work"
            android:name=".AddNewWorkActivity"/>

        <activity android:name=".MyWorksActivity"/>

        <activity android:name=".CompletedActivity"/>

        <activity
            android:label="About Flatmate"
            android:name=".AboutFlatmateActivity"/>

        <activity android:name=".AccountActivity"/>

        <activity
            android:label="Activity Graph"
            android:name=".ActivityGraphActivity"/>

        <activity
            android:label="Work details"
            android:name=".AuctionActivity"/>

        <activity
            android:name=".BidPopUp"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".TimePopUp"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".DatePopUp"
            android:theme="@style/AppTheme.CustomTheme" />

        <activity
            android:name=".AppPreferences"/>

    </application>

</manifest>